  <div class="impressum"  id="impressum">
    <div class="imprcontainer">
    <a href="/"><img class="logo" src="{{ global.baseurl }}/static/images/logo.png" alt="Logo for the company" /></a>
      <div class="address">
        <h3><a href="{{ global.baseurl }}/impressum/">Impressum</a></h3>
        <p><a href="/">Startseite</a></p>
        <p><a href="{{ global.baseurl }}/contact/">Kontaktanfragen</a></p>
      </div>
    </div>
  </div>