---
title: Kernbohrungen Günther | Homepage
---
{% extends "base.njk" %}
{% block content %}
  <div class="secone animate hidden" id="about">
    <div class="background">
      <img src="./static/images/loch_filter.png" alt="Wall Picture">
      <h1>WILLKOMMEN BEI KERNBOHRUNGEN K.GÜNTHER</h1>
      <h3>Ihr Spezialist für Kernbohrungen aller Art.</h3>
      <p>Unser Name ist Programm: Wir sind Ihr kompetenter Partner, wenn es um professionelle Kernbohrungen geht. Ob in Bestandsgebäuden für nachträgliche Einbauten oder bei der Planung von Neubauten – Kernbohrungen sind in vielen Bereichen unverzichtbar.</p>
    </div>
    <p><strong>Zu den typischen Anwendungsbereichen zählen:</strong></p>
    <ul>
      <li>
        <img src="./static/images/check.png" alt="Checkmark">
        <p>Elektro- und Sanitärleitungen</p>
      </li>
      <li>
        <img src="./static/images/check.png" alt="Checkmark">
        <p>Nachträgliche Kamin- und Ofenanschlüsse</p>
      </li>
      <li>
        <img src="./static/images/check.png" alt="Checkmark">
        <p>Pool- und Schwimmbadtechnik</p>
      </li>
      <li>
        <img src="./static/images/check.png" alt="Checkmark">
        <p>Küchenabluftsysteme</p>
      </li>
      <li>
        <img src="./static/images/check.png" alt="Checkmark">
        <p>Wohnraumlüftungen</p>
      </li>
      <li>
        <img src="./static/images/check.png" alt="Checkmark">
        <p>Klimaanlageninstallationen</p>
      </li>
      <p>... und vieles mehr.</p>
    </ul>
    <p>
      Unsere Bohrungen werden in unterschiedlichsten Durchmessern und Materialien präzise und zuverlässig durchgeführt – ganz nach Ihren individuellen Anforderungen und Gegebenheiten.
      Kontaktieren Sie uns gerne, wenn Sie Fragen haben oder ein unverbindliches Angebot wünschen. Wir stehen Ihnen mit unserer Fachkompetenz und Erfahrung zur Seite.
    </p>
    <button class="seconebutton">
      <a href="/contact/">Kontaktieren Sie Uns</a>
    </button>
  </div>

  {# <div class="sectwo animate hidden" id="sectwo">
    <div class="left">
      <h2>Hilfe für Alle</h2>
      <h3>ohne Page-Builder!</h3>
      <p>Wir vertrauen auf die Schnelligkeit, Präzision und Sicherheit von handgeschriebenem Code. 
        Dabei hilft uns unsere jahrelange Erfahrung. Wir sind ein kleines Team, was Wert auf ordentlichen, 
        nützlichen und wiederverwendbaren Code legt. Wir arbeiten ohne unnötige Page-Builder, was Ihre Kunden schneller zu dem von Ihnen gewünschten Inhalt bringt.
         Mehr zu unserer Firmenphilosophie finden Sie hier:</p>
      <a href="/aboutus/">
        <button class="sectwobutton">Über Uns</button>
      </a>
    </div>
    <div class="right">
      <img src="/static/images/markusspiske-code.jpg" alt="Code Picture by Markus Spiske">
    </div>
  </div>
  <div class="portfolio animate hidden">
    <h1>Portfolio</h1>
    <p>Die folgenden Websites repräsentieren eine Auswahl unserer vorherigen Projekte. Überzeugen Sie sich über einen Klick auf die Vorschau!</p>
    <div class="website-container">
      <div class="left">
        <h3>Lashes by Dim</h3>
        <p>Eine interaktive Website für die Wimpernstylistin unseres Vertrauens.</p>
      </div>
      <div class="images">
        <a href="https://lashesbydim.de/">
          <img src="/static/images/lashesbydim.png" alt="Lashes by Dim Screenshot">
        </a>
      </div>
    </div>
    <div class="website-container">
      <div class="images">
        <a href="http://ben-bachmair.de/">
          <img src="/static/images/benbachmair.png" alt="Ben Bachmair Screenshot">
        </a>
      </div>
      <div class="right">
        <h3>Ben-Bachmair</h3>
        <p>Eine Übersichtswebsite für einen Weltweit bekannten Professor, Author und Mentor.</p>
      </div>
    </div>
    <div class="website-container">
      <div class="left">
        <h3>webCommits</h3>
        <p>Die besten Web-Entwickler präsentieren Ihre eigene Website. Untersuchen Sie die Seite per Rechtsklick und überzeugen Sie sich von unserer Arbeit.</p>
      </div>
      <div class="images">
        <a href="/">
          <img src="/static/images/webcommits.png" alt="webCommits Screenshot">
        </a>
      </div>
    </div>
    <a href="/portfolio/">
      <button class="portfoliobutton">Mehr lesen</button>
    </a>
  </div>
  <div class="contact-sec" id="contact-sec">
    <h1>Kontakt</h1>
    <p>Wir haben Sie überzeugt? Dann melden Sie sich über die untenstehenden Möglichkeiten oder über unser Kontaktformular.</p>
    <div class="contact-container">
      <a href="mailto:test@test.de"><img src="/static/images/mail-ico.png" alt="Mail Icon"></a>
      <a href="tel:+12345678"><img src="/static/images/call-ico.png" alt="Call Icon"></a>
      <a href="/contact/"><img src="/static/images/form-ico.png" alt="Form Icon" class="form-img"></a>
    </div>
    <a href="/contact/">
      <button class="seconebutton">Zum Formular</button>
    </a>
  </div> #}

{% endblock %}